[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.4"
django-cors-headers = "==4.2.0"
numpy = "*"
scipy = "*"
sqlparse = "==0.4.4"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.8"
